*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#title{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}

.img-alinear{
    text-align: center;
}

#main-pic{
    height: 400px;
    width: auto;
}

.descripcion{
    background-color: rgb(219, 219, 42);
}

.ingredientes{
    background-color: blueviolet;
    color: white;
}

.preparacion{
    background-color: rgb(43, 226, 70);
}

div .inside-img{
    height: 200px;
    width: auto;
}

.external-link{
    background-color: white;
}

#ret-hp{
}