*{
    font-family: Tahoma, sans-serif;
    max-width: 900px;
}

.content{
    background-color: rgb(221, 255, 255);
    height: 730px;
    margin: 10px;
}

#title{
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

#subtitle{
    text-align: right;
    margin-top: 0;
}

.homepage-pic{
    text-align: center;
    margin: 8px;
}

.homepage-pic img{
    height: auto;
    width: 500px;
}

.main-list{
    list-style: none;
    text-align: center;
    margin: 20px;
    padding: 0;
}

.main-list li{
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    width: 150px;
    border: 5px solid rgb(128, 0, 255);
    margin-left: 20px;
}
.break{
    margin-top: 20px;
}

li:hover{
    border-color: brown;
    background-color: rgb(158, 101, 101);
}

#las{
    padding-top: 43px;
}